config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/cyfronet-fid/eosc-user-dashboard:
      branch: master
      repo: https://github.com/cyfronet-fid/eosc-user-dashboard.git
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/cyfronet-fid/eosc-user-dashboard git:
        commands:
        - /usr/bin/env sh .sqa/script.smelly-green-eel.sh
        container: qc.acc_squirrely-orchid-clam
  QC.Doc:
    repos:
      github.com/cyfronet-fid/eosc-user-dashboard find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.sleazy-mustard-dunker.sh
        container: qc.doc_scaly-platinum-dingo
      github.com/cyfronet-fid/eosc-user-dashboard git:
        commands:
        - /usr/bin/env sh .sqa/script.messy-cerise-woodlouse.sh
        container: qc.doc_hasty-lilac-bird
      github.com/cyfronet-fid/eosc-user-dashboard markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.craggy-myrtle-deer.sh
        container: qc.doc_tacky-lavender-seahorse
  QC.Lic:
    repos:
      github.com/cyfronet-fid/eosc-user-dashboard licensee:
        commands:
        - /usr/bin/env sh .sqa/script.messy-gold-beagle.sh
        container: qc.lic_stuffy-aquamarine-salamander
  QC.Sec:
    repos:
      github.com/cyfronet-fid/eosc-user-dashboard bandit:
        commands:
        - /usr/bin/env sh .sqa/script.sickly-crimson-quokka.sh
        container: qc.sec_pretty-orchid-weasel
  QC.Sty:
    repos:
      github.com/cyfronet-fid/eosc-user-dashboard flake8:
        commands:
        - /usr/bin/env sh .sqa/script.messy-ruby-ant.sh
        container: qc.sty_ready-salmon-mouse
      github.com/cyfronet-fid/eosc-user-dashboard hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.pretty-orange-argentino.sh
        container: qc.sty_chummy-firebrick-binturong
      github.com/cyfronet-fid/eosc-user-dashboard jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.blurry-cinnamon-dog.sh
        container: qc.sty_pasty-ruby-loon
  QC.Uni:
    repos:
      github.com/cyfronet-fid/eosc-user-dashboard pytest:
        commands:
        - /usr/bin/env sh .sqa/script.flabby-cardinal-tzu.sh
        container: qc.uni_blurry-sangria-mule
  QC.Ver:
    repos:
      github.com/cyfronet-fid/eosc-user-dashboard get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.tacky-goldenrod-havanese.sh
        container: qc.ver_shaky-eggplant-dingo
timeout: 5400
